<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>EXQRESS</title>
</head>
<body>
    <div style="height: 300px; width: 550px; font-size: 20px; font-weight: bold;">
        <div style="height: 75px; display: flex; align-items: center; padding-left: 15px;">주소:</div>
        <img src="{% static 'image/qr.png' %}" width="150" height="150">
        <div style="height:75px; display: flex; align-items: center; padding-left: 15px;">상품명:</div>
    </div>
</body></html>